* {
  box-sizing: border-box; }

body {
  background-color: #F2E6D8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.welcome-section {
  position: relative; }

.welcome-header {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.welcome-heading {
  margin: 20px 100px 0 10px;
  font-weight: 400;
  line-height: 1.1;
  font-size: calc(44px + 24 * ((100vw - 320px) / 880)); }
  @media (orientation: portrait) {
    .welcome-heading {
      font-size: calc(36px + 36 * ((100vh - 500px) / 880)); } }

.welcome-text {
  width: 75%;
  max-width: 550px;
  margin: 10px;
  font-size: calc(24px + 12 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.4; }
  @media (orientation: portrait) {
    .welcome-text {
      font-size: calc(24px + 24 * ((100vh - 500px) / 880));
      line-height: 1.6; } }

.welcome-nav {
  position: relative;
  width: calc(100% - 35px);
  text-align: right; }

.welcome-nav-item {
  margin: 25px 0;
  font-size: calc(22px + 6 * ((100vw - 320px) / 880));
  text-transform: uppercase;
  font-variant: small-caps; }

.welcome-nav-arrow {
  position: absolute;
  top: 10px;
  right: -30px;
  height: 90%;
  transform-origin: center bottom;
  transform: scaleY(0.5);
  animation: expand 0.5s forwards; }

@keyframes expand {
  from {
    transform: scaleY(0.1); }
  to {
    transform: scaleY(1); } }

.code-image-container {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 72px;
  height: 72px;
  background-color: #313A40;
  display: flex;
  justify-content: center;
  align-items: center; }

.code-image {
  width: 64px;
  height: 64px;
  background-image: url("images/code.svg"); }

.welcome-external-nav-wrapper {
  position: absolute;
  left: 25px;
  top: calc(50% - 75px); }

.welcome-external-nav-list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.welcome-external-nav-link {
  width: 64px;
  height: 64px; }

.skills-section, .projects-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media screen and (min-width: 650px) {
  .skills-list {
    width: 100%;
    display: flex;
    justify-content: space-between; } }

@media screen and (min-width: 1500px) {
  .skills-list {
    width: 1500px;
    align-self: center; } }

.section-heading-container {
  position: relative;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 15px;
  margin: 60px 0 40px;
  background-color: #313A40; }
  @media screen and (min-width: 650px) {
    .section-heading-container {
      height: 150px;
      padding: 0 50px;
      margin: 80px 0 60px; } }

.section-heading {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: bold; }
  @media screen and (min-width: 650px) {
    .section-heading {
      font-size: 36px; } }

.skills-covering-rect-one, .skills-covering-rect-two {
  display: none; }
  @media screen and (min-width: 650px) {
    .skills-covering-rect-one, .skills-covering-rect-two {
      display: block;
      position: absolute;
      height: 50%;
      width: 50%;
      background-color: #F2E6D8;
      transition: transform 0.3s; } }

.skill-list-heading-container {
  display: inline-block;
  padding: 10px 10px 10px 100px;
  background-color: #313A40;
  transform: translateX(-60px);
  transition: transform 0.2s; }
  @media screen and (min-width: 650px) {
    .skill-list-heading-container {
      min-width: 140px;
      width: 20vw;
      max-width: 200px;
      padding: 15px;
      display: flex;
      align-items: center;
      transform: translateX(0px) !important; }
      .skill-list-heading-container.first {
        align-self: flex-start;
        justify-content: flex-end; }
      .skill-list-heading-container.second {
        align-self: center;
        justify-content: center; }
      .skill-list-heading-container.third {
        align-self: flex-end;
        justify-content: flex-start; } }

.skill-list-heading {
  font-size: 24px;
  color: white; }

@media screen and (min-width: 650px) {
  .skill-list-item {
    display: flex;
    flex-direction: column; } }

.skill-list-item-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 60px 10px;
  text-transform: uppercase;
  font-variant: small-caps; }
  @media screen and (min-width: 650px) {
    .skill-list-item-heading {
      margin: 25px 20px 10px 30px; } }

.skill-list-item-list {
  margin: 25px 0 40px; }

.skill-list-item-text {
  font-size: 16px;
  margin: 0 60px;
  line-height: 1.4; }
  @media screen and (min-width: 650px) {
    .skill-list-item-text {
      margin: 0 20px 0 30px; } }

@media screen and (min-width: 650px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.project {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 650px) {
    .project {
      width: 45vw;
      min-width: 300px; } }

.additional-project {
  display: none; }
  @media screen and (min-width: 650px) {
    .additional-project {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45vw;
      min-width: 300px; } }

.project-name-container {
  align-self: flex-end;
  display: inline-block;
  padding: 10px 120px 10px 10px;
  background-color: #313A40;
  transform: translateX(110px);
  transition: transform 0.2s; }
  @media screen and (min-width: 650px) {
    .project-name-container.left {
      align-self: flex-start;
      padding: 10px 10px 10px 150px; }
    .project-name-container.right {
      padding: 10px 150px 10px 10px; } }

.project-name {
  font-size: 24px;
  color: white; }

.project-photo {
  width: 100vw;
  max-width: 500px;
  margin: 30px 0; }
  @media screen and (min-width: 650px) {
    .project-photo {
      width: 45vw;
      max-width: 100%; } }

.project-overview {
  align-self: flex-start;
  font-size: 24px;
  font-weight: bold;
  margin: 0 30px 15px;
  text-transform: uppercase;
  font-variant: small-caps; }

.project-overview-text {
  align-self: flex-start;
  font-size: 16px;
  padding: 0 10% 0 30px;
  line-height: 1.4;
  margin-bottom: 10px; }

.project-links-nav {
  position: relative;
  margin: 15px 0 60px; }

.project-link {
  position: relative;
  z-index: 1;
  font-size: 24px;
  text-transform: uppercase;
  font-variant: small-caps;
  color: black; }

.project-link-container {
  margin: 15px 0; }

.project-nav-arrow-top, .project-nav-arrow-bottom {
  position: absolute;
  background-image: url("images/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 30px;
  transform-origin: center center;
  left: 15px; }

.project-nav-arrow-top {
  transform: rotate(90deg) scaleX(1.4);
  top: -30px; }

.project-nav-arrow-bottom {
  transform: rotate(270deg) scaleX(1.4);
  bottom: -35px; }

.more-to-come {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  font-size: 7vw; }

.dot {
  margin: 20px 5px;
  user-select: none;
  animation: jump 1.2s ease-in infinite; }

.dot:nth-of-type(2) {
  animation-delay: 0.1s; }

.dot:nth-of-type(3) {
  animation-delay: 0.2s; }

.more-to-come-note {
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps; }

@keyframes jump {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(-15px); }
  20% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

.projects-covering-rect-one, .projects-covering-rect-two {
  display: none; }
  @media screen and (min-width: 650px) {
    .projects-covering-rect-one, .projects-covering-rect-two {
      display: block;
      position: absolute;
      height: 50%;
      width: 70%;
      background-color: #F2E6D8;
      transition: transform 0.3s; } }
