* {
  box-sizing: border-box; }

body {
  background-color: #F2E6D8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.welcome-section {
  position: relative; }

.welcome-header {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.welcome-heading {
  margin: 20px 100px 0 10px;
  font-weight: 400;
  line-height: 1.1;
  font-size: calc(44px + 24 * ((100vw - 320px) / 880)); }
  @media (orientation: portrait) {
    .welcome-heading {
      font-size: calc(36px + 36 * ((100vh - 500px) / 880)); } }

.welcome-text {
  width: 75%;
  max-width: 550px;
  margin: 10px;
  font-size: calc(24px + 12 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.4; }
  @media (orientation: portrait) {
    .welcome-text {
      font-size: calc(24px + 24 * ((100vh - 500px) / 880));
      line-height: 1.6; } }

.welcome-nav {
  position: relative;
  width: calc(100% - 35px);
  text-align: right; }

.welcome-nav-item {
  margin: 25px 0;
  font-size: calc(22px + 6 * ((100vw - 320px) / 880));
  text-transform: uppercase;
  font-variant: small-caps;
  transform-origin: center bottom;
  animation: expandSmall 0.5s forwards; }

.welcome-nav-arrow {
  position: absolute;
  top: 10px;
  right: -30px;
  height: 90%;
  transform-origin: center bottom;
  transform: scaleY(0.5);
  animation: expand 0.5s forwards; }

@keyframes expand {
  from {
    transform: scaleY(0.1); }
  to {
    transform: scaleY(1); } }

@keyframes expandSmall {
  from {
    transform: scaleY(0.75); }
  to {
    transform: scaleY(1); } }

.code-image-container {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 72px;
  height: 72px;
  background-color: #313A40;
  display: flex;
  justify-content: center;
  align-items: center; }

.code-image {
  width: 64px;
  height: 64px;
  background-image: url("images/code.svg"); }

.welcome-external-nav-wrapper {
  position: absolute;
  left: 25px;
  top: calc(50% - 75px); }

.welcome-external-nav-list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.welcome-external-nav-link {
  width: 64px;
  height: 64px; }

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.skills-heading-container {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 15px;
  margin: 60px 0 40px;
  background-color: #313A40; }

.skills-heading {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: bold; }

.skill-list-heading-container {
  display: inline-block;
  padding: 10px;
  background-color: #313A40; }

.skill-list-heading {
  margin-left: 40px;
  font-size: 24px;
  color: white; }

.skill-list-item-list {
  margin: 25px 0 40px; }

.skill-list-item-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 60px 10px;
  text-transform: uppercase;
  font-variant: small-caps; }

.skill-list-item-text {
  font-size: 16px;
  margin: 0 60px;
  line-height: 1.4; }
