* {
    box-sizing: border-box;
}

body {
    background-color: #F2E6D8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 
}

main {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.welcome-section {
    position: relative;
}

.welcome-header {
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-heading {
    margin: 20px 100px 0 10px;
    font-weight: 400;
    line-height: 1.1;
    font-size: calc(44px + 24 * ((100vw - 320px) / 880));

    @media (orientation: portrait) {
        font-size: calc(36px + 36 * ((100vh - 500px) / 880));
    }
}

.welcome-text {
    width: 75%;
    max-width: 550px;
    margin: 10px;
    font-size: calc(24px + 12 * ((100vw - 320px) / 880));
    font-weight: 700;
    line-height: 1.4;

    @media (orientation: portrait) {
        font-size: calc(24px + 24 * ((100vh - 500px) / 880));
        line-height: 1.6;
    }
}

.welcome-nav {
    position: fixed;
    z-index: 2;
    right: 35px;
    text-align: right;
    bottom: 25px;
}

.welcome-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    transition: opacity 0.15s, background-color 0.15s, border 0.15s;
    padding: 10px;
}

.welcome-nav-item {
    display: inline;
    margin: 15px 0;
    font-size: calc(22px + 6 * ((100vw - 320px) / 880));
    text-transform: uppercase;
    font-variant: small-caps;
}

.welcome-nav-link {
    text-decoration: none;
    color: black;
}

.welcome-nav-arrow-container {
    position: fixed;
    z-index: 2;
    padding: 5px;
    padding-right: 10px;
    bottom: 37px;
    right: 0;
    height: 190px;
    width: 34px;
    border: 2px solid #00000000;
    border-right: none;
    transition: all 0.3s;
    transform: translateX(0px);
    transform-origin: center bottom;
    background-color: transparent;
}

.welcome-nav-arrow {
    height: 100%;
    width: 100%;
    padding: 10px;
    animation: expand 0.5s;
    background-color: transparent;
    border: none;
    background-image: url("images/arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    cursor: pointer;
}

@keyframes expand {
    from {transform: scaleY(0.1);}
    to {transform: scaleY(1);}
}

.code-image-container {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 72px;
    height: 72px;
    background-color: #313A40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-image {
    width: 64px;
    height: 64px;
    background-image: url("images/code.svg");
}

.welcome-external-nav-wrapper {
    position: absolute;
    left: 25px;
    top: calc(50% - 75px);
}

.welcome-external-nav-list {
    height: 150px;
    margin: 0 0 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.welcome-external-nav-link {
    width: 64px;
    height: 64px;
}

.skills-section, .projects-section, .contact-section, .about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-list {
    @media screen and (min-width: 650px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1500px) {
        width: 1500px;
        align-self: center;
    }
}

.section-heading-container {
    position: relative;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 15px;
    margin: 60px 0 40px;
    background-color: #313A40;

    @media screen and (min-width: 650px) {
        height: 150px;
        padding: 0 50px;
        margin: 80px 0 60px;
    }
}

.section-heading {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;

    @media screen and (min-width: 650px) {
        font-size: 36px;
    }
}


.skills-covering-rect-one, .skills-covering-rect-two {
    display: none;

    @media screen and (min-width: 650px) {
        display: block;
        position: absolute;
        height: 50%;
        width: 50%;
        background-color: #F2E6D8;
        transition: transform 0.3s;
    }
}

.skill-list-heading-container {
    display: inline-block;
    padding: 10px 10px 10px 100px;
    background-color: #313A40;
    transform: translateX(-60px);
    transition: transform 0.5s;

    @media screen and (min-width: 650px) {
        min-width: 140px;
        width: 20vw;
        max-width: 200px;
        padding: 15px;
        display: flex;
        align-items: center;
        transform: translateX(0px);

        &.first {
            align-self: flex-start;
            justify-content: flex-end;
        }
        &.second {
            align-self: center;
            justify-content: center;
        }
        &.third {
            align-self: flex-end;
            justify-content: flex-start;
        }
    }
}

.skill-list-heading {
    font-size: 24px;
    color: white;
}

.skill-list-item {
    @media screen and (min-width: 650px) {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
}

.skill-list-item-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 60px 10px;
    text-transform: uppercase;
    font-variant: small-caps;

    @media screen and (min-width: 650px) {
        margin: 25px 20px 10px 30px;
    }
}

.skill-list-item-list {
    margin: 25px 0 40px;
}

.skill-list-item-text {
    font-size: 16px;
    margin: 0 60px;
    line-height: 1.4;

    @media screen and (min-width: 650px) {
        margin: 0 20px 0 30px;
    }
}

.projects-list {
    @media screen and (min-width: 650px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 650px) {
        width: 45vw;
        min-width: 300px;
    }
}

.project-name-container {
    align-self: flex-end;
    display: inline-block;
    padding: 10px 80px 10px 10px;
    background-color: #313A40;
    transform: translateX(60px);
    transition: transform 0.5s;

    @media screen and (min-width: 650px) {
        transform: translateX(0);

        &.left {
            align-self: flex-start;
            padding: 10px 10px 10px 150px;
        }
        &.right {
            padding: 10px 150px 10px 10px;
        }
    }
}

.project-name {
    font-size: 24px;
    color: white;
}

.project-photo {
    position: relative;
    width: 100vw;
    max-width: 500px;
    margin: 30px 0;
    cursor: pointer;

    @media screen and (min-width: 650px) {
        width: 45vw;
        max-width: 100%;
    }
}

.project-photo-container {
    position: relative;
}

.project-photo-shadow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(black, 0.5);
    margin: 30px 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 48px;
    font-variant: small-caps;
    color: #F2E6D8;

    div {
        border: 2px solid #F2E6D8;
        padding: 0 10px 10px;
    }

    &:hover {
        opacity: 1;
    }
}

.project-overview {
    align-self: flex-start;
    font-size: 24px;
    font-weight: bold;
    margin: 0 30px 15px;
    text-transform: uppercase;
    font-variant: small-caps;
}

.project-overview-text {
    align-self: flex-start;
    font-size: 16px;
    padding: 0 10% 0 30px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.project-links-nav {
    position: relative;
    margin: 15px 0 60px;
}

.project-link {
    position: relative;
    z-index: 1;
    font-size: 24px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: black;
}

.project-link-container {
    margin: 15px 0;
}

.project-nav-arrow-top, .project-nav-arrow-bottom {
    position: absolute;
    background-image: url("images/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 30px; 
    transform-origin: center center;
    left: 15px;
}

.project-nav-arrow-top {
    transform: rotate(90deg) scaleX(1.4);
    top: -30px;
}


.project-nav-arrow-bottom {
    transform: rotate(270deg) scaleX(1.4);
    bottom: -35px;
}

.projects-covering-rect-one, .projects-covering-rect-two {
    display: none;

    @media screen and (min-width: 650px) {
        display: block;
        position: absolute;
        height: 50%;
        width: 70%;
        background-color: #F2E6D8;
        transition: transform 0.3s;
    }
}

.contact-section {
  position: relative;
}

.contact-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;

    @media screen and (min-width: 700px) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.contact-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 700px) {
        width: 230px;
    }
}

.contact-item-heading-container {
    min-width: 140px;
    width: 20vw;
    max-width: 200px;
    padding: 15px;
    background-color: #313A40;
}

.contact-item-heading {
    text-align: center;
    font-size: 24px;
    color: white;
}

.contact-image {
    height: 120px;
    margin: 15px 0;
}

.contact-link {
    color: black;
    font-size: 14px;
    margin-bottom: 50px;
}

.about-section {
    position: relative;
}

@keyframes slideIn {
    from {
        transform: translateX(-40px) rotate(90deg);
    }
    to {
        transform: translateX(-15px) rotate(0);
    }
}

@keyframes slideInRight {
    from {
        transform: scaleX(-1) rotate(90deg) translateX(calc(100% - 40px));
    }
    to {
        transform: scaleX(-1) rotate(0deg) translateX(calc(100% - 15px));
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-40px) rotate(90deg);
    }
    to {
        transform: translateX(-15px) rotate(0);
    }
}

@keyframes moveFinger {
    from {transform: skew(7deg) rotateX(0deg);}
    to {transform: skew(0deg) rotateX(0deg);}
}

.about-text {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px auto;
    width: 80vw;
    max-width: 400px;
    text-shadow: -1px -1px 0 #F2E6D8, 1px -1px 0 #F2E6D8, -1px 1px 0 #F2E6D8, 1px 1px 0 #F2E6D8;
}

.about-link {
    color: black;
}

.next-step {
    font-size: 20px;
}


.next-par {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
}

#my-pic {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

#stars-right {
    transform: rotate(180deg);
}

.stars-container-left {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.stars-container-right {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    display: flex;
    align-items: center;
}

#me-pointing-about-right {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  opacity: 0.3;
  width: 750px;
  transform: translateX(-40%) scaleX(-1);

  @media screen and (min-width: 700px) {
    opacity: 0.4;
    transform: translateX(-25%) scaleX(-1);
  }

  @media screen and (min-width: 1350px) {
    opacity: 0.75;
  }
}

#me-pointing-about-left {
  display: none;

  @media screen and (min-width: 1350px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 750px;
    transform: translateX(25%);
    opacity: 0.75;
  }
}

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

 @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

// MY CODE

.dots {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 92px;
}

.dot {
  margin: 20px 5px;
  user-select: none;
  animation: jump 1.2s ease-in infinite;
}
.dot:nth-of-type(2) {
  animation: jump 1.2s 0.1s ease-in infinite;
}
.dot:nth-of-type(3) {
  animation: jump 1.2s 0.2s ease-in infinite;
}
.dots-note {
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
  line-height: 1.2;
}

@keyframes jump {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(-15px);
  }
  20% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

#my-pic-paths, #me-pointing-about-left g, #me-pointing-about-right g {
    fill: rgba(0, 0, 0, 0);
    transition: fill 1s;
}

.hide-my-pic {
    opacity: 0;
}

.show-my-pic {
    opacity: 0.25;

    @media screen and (min-width: 700px) {
        opacity: 0.5;
      }

    @media screen and (min-width: 1300px) {
    opacity: 1;
    }
}